#form-div {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 50px
}
.forum-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.forum-form .name {
  width: 20%;
}
.forum-form .text {
  width: 70%;
}

.feedback-input {
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #17294A;
  color: #17294A;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.from-dev input:hover,
input:focus {
  background-color: white;
}

#button-forum-submit {
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #17294A;
  color: white;
  font-size: 24px;
  padding: 7px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-forum-submit:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #17294A;
}

.submit:hover {
  color: #17294A;
}

/* .ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
} */

.submit:hover .ease {
  width: 100%;
  background-color: white;
}


#form-div {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-between;
 background-color: white
;
   #form1{
      display: flex;
      // flex-direction: column;
      color: rgb(225, 236, 225);
      justify-content: space-around;
      align-items: center;
      padding: 2px 16px;

      input[type="text"], select {
          box-shadow: aliceblue 2px 2px 4px;
          padding: 6px;
          width: 120px;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 2px;
          margin-bottom: 16px;
          margin-left: 0px;
      }
    
      /* input[type=submit] {
  background-color: #21996d;
  color: white;
  padding: 12px 20px;
  border: none;
  
 
  cursor: pointer;
} */

      button {
          background-color: #767c7c;
          border: none;
          color: white;
          padding: 12px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
          border-radius: 8px;
      }
      button:hover {
          background-color: rgb(163, 204, 231);
      }
  }
}
