
.photodiv{
    position: relative;
    width:90vw;
    margin: 0 auto;


}

.photodiv img{
    height: 40vh;
    width: 100vw;
}
.myPregraph{
    color: rgb(7, 7, 7);
    position: absolute;
    top:15%;
    width:80px;
    text-align: center;
}