
// footer{
//     background:white;
//     color: black;
//     text-align: center;
//     height: 50px;
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     color: white;
// }


// .footerDiv {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     background-color: #73777e;
//     color: white;
//     width: 100vw;
//     height: 280px;
// }

// .footer{
//     background-color: #73777e;
//     width: 100vw;
//     height: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .footer .copyright-text p a{
//     color: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
// }
// .container{
//     width: 1400px;
//     height: 350px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .footerDiv .contactUsClass  {
//     width: 240px;
//     height: 150px;
// }
// .footerDiv i {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 30px;
//     height: 40px; 
    
// }

// .footerDiv .contactUsClass  ul li{
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 280px;
//     height: 40px;
//     font-size: 18px;
// }
// .footerDiv .about{ 
//     width: 320px;
//     height: 120px;
    
// }
// .footerDiv .about ol li{
//     width: 300px;
//     height: 35px;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     font-size: 18px;  
    
// }


// .footerDiv .aboutUsClass ul {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 300px;
//     height: 20px;
    
    
// }
// .footerDiv .aboutUsClass ul li {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 10px;
// }
// .footerDiv .aboutUsClass ul li a{
//     color:white;
//     text-align: center;
//     padding: 0px 10px;
//     font-size: 18px;
//     border-radius: 6px;
//     cursor: pointer;
//     transition: all 0.5s;
// }
// .footerDiv .aboutUsClass ul li a:hover{
//    background-color: rgb(23,41,74);
//     color: #f7f4f4;
//     text-decoration: none;
    
    
// }
// .title1 {
//     display: flex;
//     justify-content: flex-start; 
//     width: 130px;
//     height: 40px; 
// }
// .title2>h4 {
//     display: flex;
//     justify-content: flex-start; 
//     font-size: 20px;
//     width: 130px;
//     height: 30px;  
// }
// .quick-link{ 
// width: 180px;
// height: 150px;

// }
// .quick-link .quick-links li {
// display: flex;
// align-items: flex-start;
// flex-direction: column;
// font-size: 18px;
// color: white;
// font-weight: 600; 

// }
// .Line{
//      border: 1px solid rgb(89, 92, 100);
//      width: 1000px;
// }



/* @media only screen and (max-width: 768px){
    .container{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .footerDiv{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;    
    }
    .footerDiv .contactUsClass{
        display: none;
        
    }
    .footerDiv .aboutUsClass{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerDiv .aboutUsClass ul li a{
        padding:10px 30px ;
        font-size: 18px;
    }
} */


// body {
//     display:grid;
//     grid-template-rows: 1fr auto;
//     grid-template-areas:"main" "footer";
//     overflow-x:hidden;
//     background:#F5F7FA;
//     min-height:100vh;
//     font-family: 'Open Sans', sans-serif;
//     .footer {
//         z-index: 1;
//         --footer-background:#ED5565;
//         display:grid;
//         position: relative;
//         grid-area: footer;
//         min-height:12rem;
//         .bubbles {
//             position: absolute;
//             top:0;
//             left:0;
//             right:0;
//             height:1rem;
//             background:var(--footer-background);
//             filter:url("#blob");
//             .bubble {
//                 position: absolute;
//                 left:var(--position, 50%);
//                 background:var(--footer-background);
//                 border-radius:100%;
//                 animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
//                     bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
//                 transform:translate(-50%, 100%);
//             }
//         }
//         .content {
//             z-index: 2;
//             display:grid;
//             grid-template-columns: 1fr auto;
//             grid-gap: 4rem;
//             padding:2rem;
//             background:var(--footer-background);
//             a, p {
//                 color:#F5F7FA;
//                 text-decoration:none;
//             }
//             b {
//                 color:white;
//             }
//             p {
//                 margin:0;
//                 font-size:.75rem;
//             }
//             >div {
//                 display:flex;
//                 flex-direction:column;
//                 justify-content: center;
//                 >div {
//                     margin:0.25rem 0;
//                     >* {
//                         margin-right:.5rem;
//                     }
//                 }
//                 .image {
//                     align-self: center;
//                     width:4rem;
//                     height:4rem;
//                     margin:0.25rem 0;
//                     background-size: cover;
//                     background-position: center;
//                 }
//             }
//         }
//     }
// }

// @keyframes bubble-size {
//     0%, 75% {
//         width:var(--size, 4rem);
//         height:var(--size, 4rem);
//     }
//     100% {
//         width:0rem;
//         height:0rem;
//     }
// }
// @keyframes bubble-move {
//     0% {
//         bottom:-4rem;
//     }
//     100% {
//         bottom:var(--distance, 10rem);
//     }
// }



// html,body {
//     margin: 0;
//     padding: 0;
//     font-family: Arial, Helvetica, Sans-serif;
//     background-color: #070617;
//   }
//   .dummy_page {
//     height: 200px;
//     width: 100%;
//     background-color: #f0f0f0;
//     text-align: center;
//     box-sizing: border-box;
//     padding: 60px 0px;
//   }
//   /* STYLES SPECIFIC TO FOOTER  */
//   .footer {
//     width: 100%;
//     position: relative;
//     height: auto;
//     background-color: #070617;
//   }
//   .footer .col {
//     width: 190px;
//     height: auto;
//     float: left;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     padding: 0px 20px 20px 20px;
//   }
//   .footer .col h1 {
//     margin: 0;
//     padding: 0;
//     font-family: inherit;
//     font-size: 12px;
//     line-height: 17px;
//     padding: 20px 0px 5px 0px;
//     color: rgba(255,255,255,0.2);
//     font-weight: normal;
//     text-transform: uppercase;
//     letter-spacing: 0.250em;
//   }
//   .footer .col ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//   }
//   .footer .col ul li {
//     color: #999999;
//     font-size: 14px;
//     font-family: inherit;
//     font-weight: bold;
//     padding: 5px 0px 5px 0px;
//     cursor: pointer;
//     transition: .2s;
//     -webkit-transition: .2s;
//     -moz-transition: .2s;
//   }
//   .social ul li {
//     display: inline-block;
//     padding-right: 5px !important;
//   }
  
//   .footer .col ul li:hover {
//     color: #ffffff;
//     transition: .1s;
//     -webkit-transition: .1s;
//     -moz-transition: .1s;
//   }
//   .clearfix {
//     clear: both;
//   }
//   @media only screen and (min-width: 1280px) {
//     .contain {
//       width: 1200px;
//       margin: 0 auto;
//     }
//   }
//   @media only screen and (max-width: 1139px) {
//     .contain .social {
//       width: 1000px;
//       display: block;
//     }
//     .social h1 {
//       margin: 0px;
//     }
//   }
//   @media only screen and (max-width: 950px) {
//     .footer .col {
//       width: 33%;
//     }
//     .footer .col h1 {
//       font-size: 14px;
//     }
//     .footer .col ul li {
//       font-size: 13px;
//     }
//   }
//   @media only screen and (max-width: 500px) {
//       .footer .col {
//         width: 50%;
//       }
//       .footer .col h1 {
//         font-size: 14px;
//       }
//       .footer .col ul li {
//         font-size: 13px;
//       }
//   }
//   @media only screen and (max-width: 340px) {
//     .footer .col {
//       width: 100%;
//     }
//   }
