

.contanair{

.contact {
    background-color: rgb(163, 158, 158);
    display: flex;
  

    .left {
        flex:1;
        overflow: hidden;
        background-color: rgb(240, 234, 234);
          border-radius: 12px;

        img {
            height: 100%;
        }
    }
    .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
          border-radius: 9px;
        form {
            display: flex;
            flex-direction: column;
            color: rgb(225, 236, 225);
            justify-items: center;
            align-items: center;
            padding: 2px 16px;

            // input[type="text"],
            // select {
            //     box-shadow: aliceblue 2px 2px 4px;
            //     padding: 15px;
            //     border-radius: 4px;
            //     box-sizing: border-box;
            //     margin-top: 2px;
            //     margin-bottom: 16px;
            //     margin-left: 0px;
            // }
          
            textarea {
                height: 150px;
            }
            /* input[type=submit] {
        background-color: #21996d;
        color: white;
        padding: 12px 20px;
        border: none;
        
       
        cursor: pointer;
      } */

            button {
                background-color: #767c7c;
                border: none;
                color: white;
                padding: 12px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
                border-radius: 8px;
            }
            button:hover {
                background-color: rgb(163, 204, 231);
            }
        }
    }
}

}