.media {
  height: 100%;
  padding-top: 5%;
  background-blend-mode: darken;
  border-radius: 15px;
}
.border {
  border: solid;
}
.fullHeightCard {
  height: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 160px;
  width: 80%;
  background-color: rgb(44, 77, 167);
  margin: 30px;
  padding: 20px;

}
.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(255, 255, 255);
}
.overlay > p {
  font-size: 12px;
  font-style: oblique;
}
.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
}
.grid {
  display: flex;
}

.title {
  margin-left: 150px;
  color: white;
}
.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
.post-btn{
  border: none;
  background-color: transparent;
}